<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head>
    <meta http-equiv="content-type" content="text/html";charset="UTF-8">
    <title>Hello world</title>
</head>

<body>
<form action="/test/queryPage" method="get" onsubmit="true" style="text-align:center">
<table th:border="1" data-th-bgcolor="yellow" align="center" width="200" hidden="100" cellpadding="200" data-th-marginheight="300">
    <tr>
        <td>id</td>
        <td>name</td>
        <td>age</td>
    </tr>
    <tr th:each="student:${students}">
        <td th:text="${student.id}">id</td>
        <td th:text="${student.name}">name</td>
        <td th:text="${student.age}">age</td>
    </tr>

</table>
<a th:href="@{'/test/queryPage?pageNum='+${firstPage}}">首页</a>&nbsp;&nbsp;
<a th:href="@{'/test/queryPage?pageNum='+${prePage}}">上一页</a>&nbsp;&nbsp;
<a th:href="@{'/test/queryPage?pageNum='+${nextPage}}">下一页</a>&nbsp;&nbsp;
<a th:href="@{'/test/queryPage?pageNum='+${lastPage}}">尾页</a>
</form>

<form action="/index.html" method="get" onsubmit="true" style="text-align:center">
    <input type="submit" value="安全退出"/>
</form>
</body>
</html>